<!DOCTYPE html>
<html>
<head>
    <title>User Account</title>
</head>
<body>
    <h1>User Account</h1>
    <p><strong>First Name:</strong> <%= user.first_name %></p>
    <p><strong>Last Name:</strong> <%= user.last_name %></p>
    <p><strong>Mission Call:</strong> <%= user.mission_call %></p>
    <p><strong>Address:</strong> <%= user.home_address %>, <%= user.home_city %>, 
        <%= user.home_state %>, <%= user.home_country %>, <%= user.home_zip %>
    </p>
</body>
</html>
